asgiref==3.12.1
Django==6.1.1
django-environ==0.14.0
django-stubs==6.1.0
django-stubs-ext==6.1.0
djangorestframework==3.18.0
djangorestframework-stubs==3.18.1
djangorestframework_simplejwt==5.5.1
psycopg==3.3.5
PyJWT==2.13.0
python-dotenv==1.2.3
sqlparse==0.6.0
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0